/* src/style.css */

/* Cores Empresariais */
.bg-pastel-nav {
    /* Novo: Azul Marinho para Header (Cor principal) */
    background-color: #003366; 
}

.bg-pastel-footer {
    /* Novo: Cinza Claro (Cor secundária) */
    background-color: #f8f9fa;
    /* Adiciona borda superior para separação visual */
    border-top: 1px solid #e9ecef; 
}

/* Botão de logout flutuante (canto inferior direito) */
.btn-logout {
    position: fixed;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    /* Cor do texto: Branco */
    color: #fff;
    /* Novo: Vermelho de alerta (Mais sóbrio que o anterior) */
    background-color: #dc3545; 
    bottom: 4%;
    right: 4%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-logout:hover {
    /* Novo: Vermelho mais escuro no hover */
    background-color: #c82333; 
    color: #fff;
    transform: scale(1.05);
}

.footer-small {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    min-height: 35px; /* menor que a navbar padrão */
}

.footer-small .navbar-brand {
    font-size: 0.75rem; /* menor que "small" */
    padding: 0;
    margin: 0;
}
.footer-small .nav-link {
    font-size: 0.75rem; /* menor que "small" */
    padding: 0 5px;
    margin: 0;
}